/*BUTTONS*/
body {
  background-color: transparent;
  padding: 15px 15px 54px;
}

.widget-holder {
  overflow: hidden;
}

a.closeSideView {
  color: #ababab;
  margin-right: 5px;
}

a.closeSideView:hover {
  color: #006c85;
}

.btn.disabled,
.btn[disabled],
a.disabled {
  pointer-events: none;
}

#menu-manager-link.disabled {
  color: #333;
}

footer {
  background-color: #f2f6f7;
  padding: 1rem 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* FORMS */
.form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.text-helper {
  margin-top: 0.5em;
  font-size: 0.8em;
}
/*Accordion Panels */
.panel-group {
  -webkit-user-select: none;
  margin-top: 20px;
}

.panel {
  opacity: 1;
  -webkit-transition: opacity 100ms linear, -webkit-transform 100ms linear;
  transition: opacity 100ms linear, -webkit-transform 100ms linear;
  background-color: #f2f6f7;
}

.panel.focus {
  opacity: 1;
}

.panel-group .panel {
  overflow: hidden;
}

.panel.focus .icon-delete {
  opacity: 0 !important;
  -webkit-transition: opacity 50ms linear;
}

.panel-default {
  border-color: #d3dbde;
}

.panel-default > .panel-heading {
  background-color: #e4e9eb;
  border-color: #d3dbde;
  border-radius: 0;
}

.panel-heading {
  position: relative;
  padding: 0;
}

.panel-heading:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.panel-heading h4 {
  padding: 10px 40px 10px 6px;
}

.panel-heading .fa-chevron-down,
.panel-heading .fa-chevron-right {
  margin-right: 10px;
}

.panel-title .fa {
  cursor: pointer;
}

.panel-heading .icon-delete {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  color: #E60000;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}

.panel-heading:hover .icon-delete {
  opacity: 1;
}

.panel-heading .screen-reorder-handle {
  display: block;
  width: 2.4rem;
  float: left;
  margin-right: 6px;
  text-align: center;
  border-right: 1px solid #999;
  opacity: 0.7;
  line-height: 18px;
}

.panel-collapse {
  opacity: 0;
}

.panel-collapse.in {
  opacity: 1;
  -webkit-transition: opacity 0.1s linear;
}

.placeholder {
  border: 1px solid rgb(0, 171, 210);
  background-color: #f2f6f7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px 0 inset, rgba(0, 171, 210, 0.4) 0 0 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px 0 inset, rgba(0, 171, 210, 0.4) 0 0 6px 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px 0 inset, rgba(0, 171, 210, 0.4) 0 0 6px 0;
}

.tile {
  height: 40px;
}
/* OTHER STYLES */
.tab-content {
  padding: 20px 0;
}

.controls {
  text-align: center;
}

.title-header {
  border-bottom: 1px solid #E3E9EB;
  margin-bottom: 2rem;
  margin-top: 3rem;
  padding-bottom: 1.5em;
}

.title-header p {
  margin: 0;
}

.link iframe {
  border: 0;
  width: 100%;
  background-color: transparent;
}

#success-alert {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#success-alert.saved {
  opacity: 1;
}
/* Menu Styles Holder */
.menu-styles-wrapper {
  position: relative;
  min-height: 100px;
}

.custom-menus {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.menu-styles-wrapper.loading .custom-menus {
  opacity: 0.2;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.menu-styles-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  margin-top: 20px;
}

.menu-style-holder {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-style-holder input {
  display: none;
}

.menu-style-holder label {
  position: relative;
  display: block;
  width: 100%;
}

.menu-icon {
  position: relative;
  width: 100%;
  height: 150px;
  max-width: 104px;
  margin: 0 auto;
  border-radius: 0;
  border: 1px solid #e2e2e2;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('../img/icon.png');
  overflow: hidden;
  margin-bottom: 10px;
}

.menu-icon > .icon {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.menu-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0;
  border: 1px solid transparent;
  text-align: center;
  display: none;
}

.menu-screen .fa {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  right: 0;
  margin-top: -20px;
  font-size: 40px;
  margin-left: -20px;
  color: #00abd2;
}

.menu-name {
  margin-bottom: 5px;
  word-break: break-word;
}

.menu-name p {
  margin: 0;
}

.menu-style-holder:hover .menu-icon {
  outline: 3px solid #808080;
}

.menu-style-holder input[type="radio"]:checked + .icon-holder .menu-icon {
  outline: 3px solid #00abd2;
}

.menu-style-holder input[type="radio"]:checked + .icon-holder .menu-screen {
  display: block;
}

.menu-style-holder .btn-secondary {
  border-radius: 3px;
}

.menu-style-holder:hover:hover .btn-secondary {
  color: #fff;
  background-color: #00abd1;
  border-bottom-color: #006c85;
}

.animated-icon {
  display: none;
}

.menu-style-holder:hover .icon.animated-icon + .icon {
  display: none;
}

.menu-style-holder:hover .icon.animated-icon {
  display: block;
}

.select-style {
  margin-bottom: 0;
}

.settings-holder {
  display: none;
  text-align: center;
}

.menu-style-holder input[type="radio"]:checked ~ .settings-holder {
  display: block;
}

.menu-style-holder input[type="radio"]:checked ~ .select-style {
  display: none;
}
/* LOADER */
.instance-loading {
  display: none;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -31px;
  z-index: 10;
}

.menu-styles-wrapper.loading .instance-loading {
  display: block;
}

.instance-loading.load + [data-instances] {
  opacity: 0.2;
}

.spinner-holder {
  overflow: hidden;
  text-align: center;
}

.spinner-overlay {
  display: none;
  margin: 2px auto;
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(138, 138, 138, 0.2);
  border-right: 1.1em solid rgba(138, 138, 138, 0.2);
  border-bottom: 1.1em solid rgba(138, 138, 138, 0.2);
  border-left: 1.1em solid #00abd2;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.spinner-holder.animated .spinner-overlay {
  display: block;
}

.spinner-overlay,
.spinner-overlay:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.spinner-overlay + p {
  margin-top: 10px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
